.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    background: var(--color-1);
    border-radius: 2px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: opacity .5s;
}

.link {
    text-decoration: none;
    color: var(--color-4);
    cursor: pointer;
    display: inline;
}

.cardContainer:hover {
    opacity: .9;
    transition: opacity .5s;
}
/* 
.cardImage {
    padding: 1rem 0;
    margin: 1rem 0;
} */

.h3 {
    text-align: center;
    display: block;
    color: var(--color-3);
    font-weight: 400;
    padding: .25rem;
}